@media screen and (min-width: 430px) {
    .productCard {
        width: 270px;
    }
}

@media screen and (min-width: 900px) {
    .logo1 {
        display: inline-block;
        position: relative;
        height: 230px;
    }
    .logo2 {
        display: none;
    }
    .header .icon {
        display: none;
    }
    body {
        font-family: 'Nunito', sans-serif;
        margin: 0px;
        background: #e1e1e1;
        color: #384047;
    }
    h1,
    h2,
    p {
        text-align: center;
    }
    /* spotlight */
    .productSpotlight {
        max-width: 1000px;
    }
    /*Register css*/
    .cardregister {
        box-shadow: 1px 4px 8px 1px lightgrey;
        transition: 0.3s;
        border-radius: 10px;
        margin: 20px;
        display: inline-block;
        height: auto;
        width: auto;
        background: #f9f9f9;
        text-align: center;
        display: inline-block;
    }
    .registerlabel {
        text-align: left;
        padding-left: 70px;
    }
    .cardregister:hover {
        box-shadow: 1px 8px 16px 1px #444444;
    }
    .containerregister {
        padding: 40px;
        text-align: center;
        margin: 20px;
        display: inline-block;
    }
    .input_register1 {
        background: rgba(255, 255, 255, 0.1);
        border: none;
        font-size: 16px;
        height: auto;
        margin: 0;
        outline: 0;
        padding: 15px;
        background-color: #e1e1e1;
        color: #292c2e;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
        margin-bottom: 30px;
        width: 250px;
    }
    .input_register2 {
        background: rgba(255, 255, 255, 0.1);
        border: none;
        font-size: 16px;
        height: auto;
        margin: 0;
        outline: 0;
        padding: 15px;
        background-color: #e1e1e1;
        color: #292c2e;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
        margin-bottom: 30px;
        width: 100px;
    }
    .formWrapper {
        text-align: center
    }
    .formWrapperRegister {
        width: 80% !important;
    }
    .productForm {
        width: 60% !important;
    }
    .loginForm {
        width: 450px !important;
    }
    .orderConfirmationForm {
        width: 60%;
    }
    .orderConfirmationForm input[type=submit] {
        width: 400px;
        margin: 25px auto;
    }
    .orderConfirmationForm h2 {
        text-align: left;
    }
    .table.shoppingCart {
        /* position: absolute; */
        left: 0px;
        margin: 0 !important;
    }
    .orderConfirmationForm {
        text-align: left;
    }
    .productViewWrapper {
        background-color: white;
        width: 50%;
        margin: 0 auto;
        border-radius: 5px;
    }
    .errorPage img {
        width: 40%;
    }
    .vendorsWrapper {
        padding: 15px;
        background-color: white;
        border-radius: 5px;
        margin: 15px auto;
        width: 80%;
    }
    .vendorsWrapper label {
        padding: 0;
        margin-left: 15px;
        text-align: left;
        cursor: default;
    }
    .vendorContainer {
        display: block;
        width: 100%;
        background-color: white;
        text-align: center;
        border-radius: 0px 0px 5px 5px;
    }
    .vendorContainer .customSubmit {
        margin-left: 15px;
        display: block;
        left: 0px;
        width: 350px;
        color: #FFF;
        background-color: #eb7d00;
        border-radius: 5px;
        border: none;
        margin-bottom: 10px;
        padding: 10px 0px;
        cursor: pointer;
        font-size: 1.3em;
        transition: .2s ease-in-out;
    }
    .input .errorInfo {
        min-width: 10%;
        max-width: 100%;
    }
    .loginForm {
        width: 450px;
    }
    .productCard {
        max-width: 300px;
    }
    .products {
        max-width: 90%;
    }
    .shoppingCart {
        max-width: 75%;
    }
    .vendorsWrapper .products {
        max-width: 100% !important;
    }
    .cartListing {
        /* width: 70%; */
        margin-left: 0;
    }
    .cartTotal {
        position: sticky;
        bottom: 10px;
        bottom: 54%;
        left: 75%;
        right: 0px;
        width: 250px;
        padding: 10px;
        border-radius: 5px
    }
    .table {
        display: table;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    .table.userManagement {
        padding: 5px;
    }
    .table .tableRow {
        display: table-row;
    }
    .table .tableRow::after {
        clear: both;
    }
    .table .tableRow.head {
        font-weight: bold;
        display: table-header-group;
        color: white;
        background-color: #363636
    }
    .table .tableCell {
        padding: 5px;
        display: table-cell;
        text-align: left;
        vertical-align: top;
        width: 25%;
    }
    .table .tableRow.bottom {
        display: table-row;
    }
    label.mobileLabel {
        display: none;
    }
    .mobileLabel.input[type=checkbox] {
        display: block;
    }
    .table.userManagement .tableCell {
        width: 14%;
    }
    form.moreProducts {
        width: 400px;
    }
    .emptySearch {
        width: 500px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1400px) {
    /* #region filter form */
    .filterForm {
        position: absolute;
        display: block !important;
        width: 250px !important;
        margin: 0;
        left: 25px;
        /* top: 25px; */
        border-radius: 5px 5px 5px 5px !important;
    }
    .searchForm {
        max-width: 1000px;
    }
    .filterForm select {
        cursor: pointer;
    }
    .filterForm fieldset {
        padding: 12px 20px;
        margin-top: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
    }
    .filterToggle {
        display: none;
        cursor: pointer;
    }
    .filterForm .desktopTitle {
        display: block;
        font-size: 1.3em;
    }
    .filterToggleLabel {
        display: none;
    }
    .filterToggleLabel .dropIcon {
        float: right;
    }
    /* #endregion */
    .products:not(.frontPage) {
        max-width: 60%;
    }
}

@media screen and (min-width: 1700px) {
    /* #endregion */
    .products {
        max-width: 1000px;
    }
    .vendorsWrapper {
        max-width: 1000px !important;
    }
}