@media screen and (min-width: 900px) {
    /*
    Alles was das  Desktopherz begehrt
*/
    .logo1 {
        display: inline-block;
    }
    .logo2 {
        display: none;
    }
    /* Hide the link that should open and close the topnav on small screens */
    .header .icon {
        display: none;
    }
    body {
        font-family: 'Nunito', sans-serif;
        margin: 0px;
        background: #e1e1e1;
        color: #384047;
    }
    h1,
    h2,
    p {
        text-align: center;
    }
    /* spotlight */
    .productSpotlight {
        max-width: 1000px;
    }
    /*Standard Cards*/
    .cards {
        text-align: center;
    }
    .card {
        box-shadow: 1px 4px 8px 1px lightgrey;
        transition: 0.3s;
        border-radius: 10px;
        margin: 20px;
        display: inline-block;
        height: auto;
        width: auto;
        background: #f9f9f9;
    }
    .card:hover {
        box-shadow: 1px 8px 16px 1px #444444;
    }
    .container {
        padding: 40px;
        text-align: center;
    }
    /*Register css*/
    .cardregister {
        box-shadow: 1px 4px 8px 1px lightgrey;
        transition: 0.3s;
        border-radius: 10px;
        margin: 20px;
        display: inline-block;
        height: auto;
        width: auto;
        background: #f9f9f9;
        text-align: center;
        display: inline-block;
    }
    .registerlabel {
        text-align: left;
        padding-left: 70px;
    }
    .cardregister:hover {
        box-shadow: 1px 8px 16px 1px #444444;
    }
    .containerregister {
        padding: 40px;
        text-align: center;
        margin: 20px;
        display: inline-block;
    }
    .input_register1 {
        background: rgba(255, 255, 255, 0.1);
        border: none;
        font-size: 16px;
        height: auto;
        margin: 0;
        outline: 0;
        padding: 15px;
        background-color: #e1e1e1;
        color: #292c2e;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
        margin-bottom: 30px;
        width: 250px;
    }
    .input_register2 {
        background: rgba(255, 255, 255, 0.1);
        border: none;
        font-size: 16px;
        height: auto;
        margin: 0;
        outline: 0;
        padding: 15px;
        background-color: #e1e1e1;
        color: #292c2e;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
        margin-bottom: 30px;
        width: 100px;
    }
    .formWrapper {
        text-align: center
    }
    .productForm {
        width: 60% !important;
    }
    .loginForm {
        width: 450px !important;
    }
    .productViewWrapper {
        background-color: white;
        width: 50%;
        margin: 0 auto;
        border-radius: 5px;
    }
    .errorPage img {
        width: 40%;
    }
    .vendorsWrapper {
        padding: 15px;
        background-color: white;
        border-radius: 5px;
        margin: 15px auto;
        width: 80%;
    }
    .vendorsWrapper label {
        padding: 0;
        margin-left: 15px;
        text-align: left;
        cursor: default;
    }
    .vendorContainer {
        display: block;
        width: 100%;
        background-color: white;
        text-align: center;
        border-radius: 0px 0px 5px 5px;
    }
    .vendorContainer .customSubmit {
        margin-left: 15px;
        display: block;
        left: 0px;
        width: 350px;
        color: #FFF;
        background-color: #eb7d00;
        border-radius: 5px;
        border: none;
        margin-bottom: 10px;
        padding: 10px 0px;
        cursor: pointer;
        font-size: 1.3em;
        transition: .2s ease-in-out;
    }
    .input .errorInfo {
        min-width: 10%;
        max-width: 50%;
    }
}