.productSpotlight {
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 75px;
}

.spotlightPreview {
    margin-right: 15px;
    float: left;
    margin-left: 30px;
    float: left;
    width: 200px;
}

.spotlightText * {
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
}

.spotlightTitle {
    font-size: large;
}

.spotlightDescription {
    font-size: normal;
    text-align: justify;
}

.spotlightElement {
    background-color: rgb(245, 245, 245);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    overflow: hidden;
}

.spotlightText {
    width: 95%;
}


/* Next and Previous Buttons */

.previousSlide,
.nextSlide {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    margin: 0 auto;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.nextSlide {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previousSlide:hover,
.nextSlide:hover {
    background-color: #333;
}


/* Slide Dots */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 25%;
    display: inline-block;
    transition: 0.6s ease;
}

.slideDots {
    display: block;
    padding-top: 15px;
    text-align: center;
    position: absolute;
}

.slideDots .active {
    background-color: #333;
}

.dot:hover {
    background-color: rgba(51, 51, 51, 0.5);
}


/* Fade Animation */

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}