:root {
    --orange: #eb7d00;
    --darkgrey: #333;
    --fontColor: #384047;
}

@font-face {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    /* IE9 Compat Modes */
    src: local(''), url('assets/fonts/oswald-v35-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('assets/fonts/oswald-v35-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('assets/fonts/oswald-v35-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('assets/fonts/oswald-v35-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('assets/fonts/oswald-v35-latin-regular.svg#Oswald') format('svg');
    /* Legacy iOS */
}


/* #region general */

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    background: #e1e1e1;
    color: var(--fontColor);
}

h2,
p {
    text-align: center;
}

.content {
    min-height: 60em;
    width: 100%;
}


/* #endregion */


/* #region header */

.logo1 {
    display: none;
}

.logo2 {
    display: inline-block;
    text-align: center;
    position: relative;
    height: 230px;
}

.header {
    background-color: var(--darkgrey);
    overflow: hidden;
    height: 240px;
    text-align: center;
}


/* #endregion */


/* #region productCards */

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    transition: max-height .5s ease-out;
}

.productCard {
    margin: auto;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 #00000033;
    background-color: white;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
}

.productCard.hidden {
    visibility: hidden;
    opacity: 0;
}

.productCard a {
    text-decoration: none;
    color: var(--fontColor);
}

.productCard:hover {
    box-shadow: 0 8px 16px 0 #00000033, 0 12px 20px 0 #0000007c;
    transition: .2s ease-in-out;
}

.productCard .title {
    font-size: 1em;
    font-weight: bold;
    background: #2f2f2f;
    color: white;
    padding: 5px 5px;
    margin: 0px;
}

.price {
    color: grey;
    font-size: 1.2em;
}

.productCard .productPreview .productImage {
    width: 100%;
}

.productCard .productPreview:not(.hidden) {
    background: var(--orange);
    position: relative;
}

.productCard .productPreview.hidden {
    background: #333333;
    position: relative;
}

.productPreview.hidden {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.productCardPrefab {
    display: none;
}


/* #endregion */


/* #region registration */

.container {
    padding: 40px;
    text-align: center;
}


/* #endregion */


/*#region footer*/

.footer {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    display: block;
    left: 0;
    bottom: 0;
    background-color: #333;
    color: #e1e1e1;
    text-align: center;
    margin-top: 25px;
    height: 281px;
    bottom: 0px;
}

.footer a {
    color: #e1e1e1;
}

.footer a:hover {
    color: var(--orange);
}


/* #endregion */


/* #region upButton */

.upButton {
    display: block;
    visibility: visible;
    opacity: 100;
    position: fixed;
    bottom: 20px;
    right: 30px;
    height: 60px;
    width: 60px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #838383d0;
    cursor: pointer;
    border-radius: 50%;
    transition: visibility 0.2s, opacity 0.1s linear;
}

.upButton:hover {
    background-color: #292929;
}

.upButton img {
    display: block;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
}


/* #endregion */


/*#region ProductSpotlight */

.productSpotlight {
    max-width: 95%;
    position: relative;
    margin: auto;
}

.productSpotlight .productLink {
    text-decoration: none;
    color: var(--fontColor);
}

.productSpotlight img {
    max-height: 100%;
    max-width: 100%;
}

.spotlightElement {
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    overflow: hidden;
}

.spotlightElement:hover {
    box-shadow: 0 8px 16px 0 #00000033, 0 12px 20px 0 #0000007c;
    transition: .3s ease;
}

.spotlightElement .text {
    color: #e1e1e1;
    background-color: #333333ed;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.spotlightElement .text .title {
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    padding: 5px 0px 0px 0px;
}

.spotlightElement .text .phrase {
    font-size: 1.2em;
    display: block;
    font-weight: lighter;
    padding: 5px 0px 10px 0px;
}


/* To hide all element except the first one, if javascript does not work */

.productSpotlight>.spotlightElement:not(:first-child) {
    display: none;
}


/* Next and Previous Buttons */

.previousSlide,
.nextSlide {
    cursor: pointer;
    position: absolute;
    display: none;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    background-color: rgba(85, 85, 85, 0.5);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.nextSlide {
    right: 0;
    border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.previousSlide:hover,
.nextSlide:hover {
    background-color: #333;
}


/* #endregion */


/* #region pagesList */

.pagesList {
    text-align: center;
    padding: 5px;
}

.pagesList a {
    color: var(--fontColor);
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .2s;
}


/* pages list - highlight current page */

.pagesList a.active {
    background-color: #333;
    color: #e4e4e4;
}


/* pages list hover effect */

.pagesList a:hover:not(.active) {
    background-color: #686868;
    color: #e4e4e4;
}


/* #endregion */


/*#region Forms */

.formWrapper {
    text-align: center;
}

.formWrapper form {
    margin: 25px auto;
    display: block;
    text-align: left;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 1.3em;
}

.formWrapper .productForm {
    width: 85%;
}

.formWrapper .productForm .imageContainer {
    max-height: 350px;
    overflow: auto;
    border: 1px solid black;
    margin-bottom: 25px;
    padding: 5px;
}

.productForm .imageContainer input[type=checkbox] {
    margin-bottom: 15px;
}

.productForm .imageContainer img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.formWrapper .loginForm {
    width: 85%;
}

.imageGallery .imageContainer {
    position: relative;
}

form.moreProducts {
    display: none;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 1.3em;
    width: 95%;
}


/* Generic Form Stuff */

form h1 {
    text-align: center;
}

form input[type=text],
form input[type=number],
form input[type=file],
form input[type=submit],
form input[type=email],
form input[type=password],
form input[type=search],
form input[type=date],
form select,
form textarea {
    width: 100%;
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 25px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0px;
    background-color: #e4e4e4;
    font-family: inherit;
}

form input:hover,
form select:hover,
form textarea:hover {
    background-color: #f8f8f8;
}

form input,
form label,
form textarea,
form select {
    display: block;
    font-size: .8em;
}

form textarea {
    resize: vertical;
    min-height: 150px;
}

form input[type=submit] {
    color: #FFF;
    background-color: var(--orange);
    border-radius: 5px;
    border: none;
    margin-top: 35px;
    cursor: pointer;
}

form input[type=submit]:hover {
    background-color: #474747;
    transition: .1s;
}


/* remove arrows from number input */

.formWrapper input::-webkit-outer-spin-button,
.formWrapper input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.formWrapper form input[type=number] {
    -moz-appearance: textfield;
}

form input[type=checkbox] {
    display: inline;
    float: right;
}

.customCheckbox {
    display: block;
    float: right;
    width: 10px;
    height: 10px;
    border: 2px solid grey;
    position: relative;
    cursor: pointer;
}

.customCheckbox:hover {
    background-color: lightgray;
    border: 2px solid #333333;
    transition: .1s ease-in-out;
}

.customCheckbox input[type=checkbox] {
    display: none;
}

.customCheckbox div {
    display: none;
}

.customCheckbox img {
    position: absolute;
    width: 130%;
    top: -4px;
}

.customCheckbox input[type=checkbox]:checked+div {
    display: block;
    width: 10px;
    height: 10px;
    z-index: 1;
    background-color: #f1f1f1;
}

form label {
    font-weight: bold;
}

.required::after {
    content: " *";
    color: var(--orange);
}

.optional::after {
    content: " (optional)";
    font-size: .7em;
    color: #646464;
}


/* Search Bar */

.searchForm {
    width: 85% !important;
    padding: 0;
    overflow: hidden;
    position: relative;
    height: 25px;
}

.searchForm input[type=search] {
    position: absolute;
    left: 5px;
    bottom: 5px;
    display: block;
    height: 45px;
    outline: none;
    border-radius: 5px 0px 0px 5px;
    margin: 0;
    max-width: 97%;
}

.searchForm input[type=search]:active {
    background-color: #e2e2e2;
}

.searchForm button {
    position: absolute;
    border: none;
    right: 5px;
    bottom: 5px;
    width: 60px;
    height: 45px;
    border-radius: 0px 5px 5px 0px;
    margin: 0px 0px 0px 3px;
    background-color: var(--orange);
    outline: none;
    cursor: pointer;
    transition: .2s;
}

.searchForm button:hover {
    background-color: #474747;
}

.searchForm button img {
    height: 30px;
}

.searchForm::after {
    content: "";
    clear: both;
    display: table;
}

.emptySearch {
    background-color: #444444;
    color: white;
    padding: 15px 5px;
    margin: 5px;
    margin-bottom: 15px;
    display: block;
    border-radius: 5px;
    max-width: 100%;
    font-size: 1.2em;
}


/* #endregion */


/* #region filter form */

.filterForm {
    display: none !important;
    border-radius: 0px 0px 5px 5px !important;
}

.filterForm select {
    cursor: pointer;
}

.filterForm fieldset {
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.filterToggle {
    display: none;
    cursor: pointer;
}

.filterToggle:checked+.filterForm {
    display: block !important;
    width: 85%;
    margin-top: 0px;
    transition: 0.2s;
}

.filterToggleLabel {
    display: block;
    text-align: left;
    margin: 25px auto;
    margin-bottom: 0px;
    width: 85% !important;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px 5px 0px 0px;
    position: relative;
    font-size: 1.3em;
    cursor: pointer;
}

.filterForm .desktopTitle {
    display: none;
}

.filterToggleLabel .dropIcon {
    float: right;
}

.filterForm input[type=submit] {
    margin-top: 0;
}

.filterForm input[type=select] {
    margin-bottom: 0;
}


/* #endregion */


/* #region error highlights */

.errorHighlight {
    border: 3px solid #db0000 !important;
    color: #db0000 !important;
    background-color: #ff8b8b5b !important;
}

.errorHighlight:hover {
    background-color: #fddedefd;
}

.input {
    position: relative;
    display: inline-block;
    width: 100%;
}

.input .errorInfo {
    position: absolute;
    min-width: 100%;
    background-color: #db0000e8;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 8px 8px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -100%);
    transition: visibility 0.2s, opacity 0.1s linear;
}

.input .errorInfo::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #db0000e8 transparent transparent transparent;
}

.errorHighlight:hover+.errorInfo {
    visibility: visible;
    opacity: 1;
}


/* #endregion */


/* #region dialog boxes */

.errorMessage {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    background-color: #f4433670;
    border-left: 5px solid #e40000;
    color: #520000;
    margin-bottom: 20px;
    font-size: 1em;
}

.errorMessage p {
    padding: 0px;
    margin-left: 10px;
    text-align: left;
}

.warningMessage {
    width: 90%;
    padding: 15px 0;
    margin: 0 auto;
    background-color: #fafd21b0;
    border-left: 5px solid var(--orange);
    color: #522c00;
    margin-bottom: 20px;
    font-size: 1em;
}

.warningMessage p {
    padding: 0px;
    margin-left: 10px;
    text-align: left;
}

.successMessage {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    background-color: #5ff878b0;
    border-left: 5px solid #00c70a;
    color: #175200;
    margin-bottom: 20px;
    font-size: 1em;
}

.messageClose {
    margin-left: 25px;
    margin-right: 25px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 1.5em;
    line-height: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.errorMessage .messageClose:hover {
    color: #520000;
}

.infoMessage .messageClose:hover {
    color: #001858;
}


/* #endregion */


/* #region image gallery */

.productViewWrapper {
    background-color: white;
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
}

.productViewWrapper h1 {
    padding-top: 5px;
    text-align: center;
}

.imageGallery {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 95%;
}

.imageGallery form {
    text-align: right;
}

.productInformation {
    margin: 0 auto;
    width: 95%
}

.description {
    text-align: justify;
}

.gallerySlide img {
    width: 100%;
    border-bottom: 5px solid var(--orange);
}

.imageGallery.isHidden.gallerySlide img {
    border-bottom: 5px solid #333333;
}


/* to show only one image, if javascript is disabled */

.imageGallery>.gallerySlide:not(:first-child) {
    display: none;
}

.galleryThumbnail img {
    cursor: pointer;
    width: 100%;
}

.galleryThumbnail img:hover {
    opacity: .4;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.galleryThumbnail {
    float: left;
    max-width: 16.66%;
}


/* #endregion */


/* #region iconButtons */

.iconButton {
    background-color: var(--orange);
    border: none;
    height: 100%;
    width: 100%;
    width: 60px;
    height: 60px;
    /* padding: 5px; */
    transition: .1s ease-in-out;
    outline: none;
    cursor: pointer;
}

.iconButton:hover {
    background-color: grey;
    transition: .2s;
}

.iconButton:active {
    background-color: #252525;
}

.iconButton img {
    position: absolute;
    max-height: 100%;
    max-width: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
}

.cartButton {
    position: relative;
}


/* button hover to show a better indication that something has been added to the cart */

.cartButton:active span {
    opacity: 1;
    transition: opacity .02s ease-in;
}

.cartButton span {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 1;
    opacity: 0;
    background-color: var(--orange);
    transition: opacity 2s ease-out;
}

.cartButton span img {
    filter: brightness(0) invert(1);
    opacity: 1;
    visibility: visible;
    z-index: 2;
    position: absolute;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
}

.editButton {
    background-color: var(--orange);
    border: none;
    height: 100%;
    width: 100%;
    padding: 5px;
    transition: .1s ease-in-out;
    outline: none;
    cursor: pointer;
}

.badge {
    position: absolute;
    width: 60px;
    height: 60px;
    right: -15px;
    bottom: -15px;
    overflow: hidden;
    border-radius: 50%;
}

.badge.edit {
    right: 60px;
}

.badge.edit a {
    display: block;
}

.hiddenIcon {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: grey;
}

.hiddenIcon img {
    position: absolute;
    max-height: 100%;
    max-width: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
}


/* #endregion */


/* #region error page */

.errorPage {
    text-align: center;
    margin: 20px auto;
    width: 95%;
    border-radius: 10px;
}

.errorPage img {
    width: 80%;
}


/* #endregion */


/* #region vendors listing*/

.vendorToggle {
    display: none;
}

.vendorContainer {
    display: none;
}

.vendorsWrapper {
    width: 95%;
    margin: 0 auto;
}

.vendorsWrapper p:not(.productCard p) {
    padding: 0;
    padding: 5px;
    margin: 0;
    width: 95%;
}

.vendorsWrapper label {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-color: white;
    padding: 10px 0px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    margin-top: 10px;
}

.vendorToggle:checked+.vendorContainer {
    display: block;
    width: 100%;
    background-color: white;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
}

.vendorContainer .customSubmit {
    width: 90%;
    color: #FFF;
    background-color: var(--orange);
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    padding: 10px 0px;
    cursor: pointer;
    font-size: 1.3em;
    transition: .2s ease-in-out;
}

.vendorContainer .customSubmit:hover {
    background-color: #474747;
}

.vendorsWrapper .products {
    margin-top: 0px;
}


/* #endregion */


/*#region ShoppingCart*/

.shoppingCart {
    width: 95%;
    margin: 15px auto;
    background: white;
    border-radius: 5px;
    padding: 5px;
}

.shoppingCart h1 {
    text-align: center;
}

.cartListing {
    width: 95%;
    margin: 0 auto;
    height: 100%;
}

.cartListing .cartEntry {
    background-color: white;
    border-radius: 5px;
    margin: 10px 0;
}

.tableCell .productPreview {
    /* padding: 10px; */
    display: block;
    border-bottom: solid 5px var(--orange);
    margin: 5px auto;
    max-width: 100%;
}

.cartTotal {
    position: sticky;
    bottom: 0;
    width: 95%;
    margin: 0 auto;
    padding: 5px;
    background-color: #e0e0e0;
    border-radius: 5px 5px 0px 0px;
}

.cartTotal b {
    float: left;
}

.cartTotal span {
    float: right;
}


/* #endregion */


/* #region pseudoTable */

.table .tableRow:nth-child(even):not(.head) {
    background-color: #b9b9b9;
}

.table .tableRow:nth-child(odd):not(.head) {
    background-color: #dadada;
}

.table .tableRow.head {
    display: none;
}

.table {
    display: block;
    margin: 5px 0;
}

.table .tableRow {
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

.table label {
    margin-top: 8px;
    margin-bottom: 5px;
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
}

.table .tableCell {
    display: block;
    text-align: left;
    width: 90%;
    margin: 0 auto;
}

.table .tableCell img {
    width: 90%;
}

.table .tableRow.bottom {
    font-weight: bold;
    color: white;
    background-color: #363636 !important;
}


/* #endregion */


/*#region collapsible */

.collapsible p {
    margin-bottom: 100px;
    height: 120%;
}

.collapsibleContainer {
    position: relative;
    transition: max-height .2s ease-out;
    padding-bottom: 30px;
    overflow: hidden;
}

.collapsibleFadeout {
    display: none;
    position: absolute;
    bottom: 0px;
    text-align: center;
    margin: 0;
    padding: 30px 0;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent, white);
}

.collapsibleFadeout label {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    background-color: #838383d0;
    border-radius: 50%;
    transition: .2s ease-in-out;
    transition: all .5s;
}

.collapsibleFadeout label:hover {
    background-color: #292929;
}

.collapsibleFadeout label img {
    display: block;
    width: 40px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.collapsibleToggle {
    display: none;
}


/*#endregion */

.orderConfirmationForm .customerData {
    text-align: left;
}

.imprint {
    background-color: white;
    max-width: 80%;
    margin: 20px auto;
    padding: 15px 50px;
}

.imprint p {
    text-align: justify;
}

.imprint .centered {
    display: block;
    margin: 0 auto;
    max-width: 250px;
}

.imprint .centered p {
    text-align: left;
}