:root {
    --orange: #eb7d00;
    --darkgrey: #333;
    --fontColor: #384047;
    --fontColorLight: #6f7172;
    --background: #e1e1e1;
    --highlightColor: #f1f1f1;
    --white: white;
    --black: black;
}


/* oswald-regular - latin */

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 250;
    src: url('../fonts/oswald/oswald-v35-latin-regular.woff2');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/oswald/oswald-v35-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/oswald/oswald-v35-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/oswald/oswald-v35-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/oswald/oswald-v35-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/oswald/oswald-v35-latin-regular.svg#Oswald') format('svg');
    /* Legacy iOS */
}


/* #region general */

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    background: var(--background);
    color: var(--fontColor);
}

h1,
h2,
p {
    text-align: center;
}

/* #region general link - styling */
p a {
    color: var(--darkgrey);
    text-decoration: none;
    font-weight: bolder;
    transition: .1s ease-in-out;
}

p a:hover {
    color: var(--orange);
}

p a::before {
    content: "» ";
}

p a:after {
    content: " «";
}

/* #endregion */

/* used to make sure that the footer is at the bottom of the page, if not enough content is provided */
.content {
    min-height: 60em;
    width: 100%;
}

/* #endregion */


/* #region header */

/* hide desktop - wide icon */
.logo1 {
    display: none;
}

/* show mobile - small icon */
.logo2 {
    display: inline-block;
    text-align: center;
    position: relative;
    height: 190px;
}

.header {
    background-color: var(--darkgrey);
    overflow: hidden;
    height: 200px;
    text-align: center;
}

/* #endregion */

/* #region imageWrapper */
/* used to make sure all images within have 16:9 aspect ratio */
.imageWrapper {
    position: relative;
    padding-bottom: 56.2%;
    width: 100%;
}

.imageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

/* #endregion */

/* #region productCards */

.products {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: max-height .5s ease-out;
}

/* make sure products on the front page are listed under eachother */
.products.frontPage {
    flex-direction: column;
}


.productCard {
    text-align: left;
    padding: 20px;
    margin: 15px;
    background-color: var(--white);
    display: flex;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 #00000033, 0 3px 5px 0 #0000007c;
    transition: .2s ease-in-out;
}

.productCard:hover {
    box-shadow: 0 5px 10px 0 #00000033, 0 10px 15px 0 #0000007c;
}

.productCard .catchPhrase {
    font-size: .8em;
}

.productCard.hidden {
    visibility: hidden;
    opacity: 0;
}

.productCard a {
    text-decoration: none;
    color: var(--fontColor);
}

.productCard .title {
    font-size: 1em;
    font-weight: bold;
    background: var(--darkgrey);
    color: var(--white);
    padding: 5px 5px;
    margin: 0px;
}

.price {
    color: var(--fontColorLight);
    font-size: 1.2em;
}

.productCard .productPreview {
    width: 270px;
}

.productCard .productPreview:not(.hidden) {
    background: var(--orange);
    border-bottom: 5px solid var(--orange);
    position: relative;
}

.productCard .productPreview.hidden {
    background: var(--darkgrey);
    border-bottom: 5px solid var(--darkgrey);
    position: relative;
}

.productPreview.hidden {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.productCardPrefab {
    display: none;
}


/* #endregion */


/* #region registration */

.container {
    padding: 40px;
    text-align: center;
}


/* #endregion */


/*#region footer*/

.footer {
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    left: 0;
    background-color: var(--darkgrey);
    color: var(--background);
    text-align: center;
    margin-top: 25px;
    min-height: 200px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
}

.footer a {
    color: var(--background);
}

.footer a:hover {
    color: var(--orange);
}

.footer>div {
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 25px;
    font-size: 1.25em;
}


/* #endregion */


/* #region upButton */

.upButton {
    display: block;
    visibility: visible;
    opacity: 100;
    position: fixed;
    bottom: 20px;
    right: 30px;
    height: 60px;
    width: 60px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--fontColorLight);
    cursor: pointer;
    border-radius: 50%;
    transition: visibility 0.2s, opacity 0.1s linear;
}

.upButton:hover {
    background-color: var(--darkgrey);
}

.upButton img {
    display: block;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
}


/* #endregion */


/*#region ProductSpotlight */

.productSpotlight {
    max-width: 95%;
    position: relative;
    margin: auto;
    margin-bottom: 45px;
}

.productSpotlight .productLink {
    text-decoration: none;
    color: var(--fontColor);
}

.productSpotlight img {
    max-height: 100%;
    max-width: 100%;
}

.spotlightElement {
    box-shadow: 0 2px 4px 0 #00000033, 0 3px 10px 0 #00000030;
    transition: .3s ease-in-out;
    overflow: hidden;
}

.spotlightElement:hover {
    box-shadow: 0 8px 16px 0 #00000033, 0 12px 20px 0 #0000007c;
}

.spotlightElement .text {
    color: var(--background);
    background-color: var(--darkgrey);
    opacity: .8;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.spotlightElement .text .title {
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    padding: 5px 0px 0px 0px;
}

.spotlightElement .text .phrase {
    font-size: 1.2em;
    display: block;
    font-weight: lighter;
    padding: 5px 0px 10px 0px;
}


/* To hide all element except the first one, if javascript does not work */

.productSpotlight>.spotlightElement:not(:first-Child) {
    display: none;
}


/* Next and Previous Buttons */

.previousSlide,
.nextSlide {
    cursor: pointer;
    position: absolute;
    display: none;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--background);
    background-color: var(--fontColorLight);
    opacity: .9;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.nextSlide {
    right: 0;
    border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.previousSlide:hover,
.nextSlide:hover {
    background-color: var(--darkgrey);
}


/* #endregion */


/* #region pagesList */

.pagesList {
    text-align: center;
    padding: 5px;
}

.pagesList a {
    color: var(--fontColor);
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .2s;
}


/* pages list - highlight current page */

.pagesList a.active {
    background-color: var(--darkgrey);
    color: var(--white);
}


/* pages list hover effect */

.pagesList a:hover:not(.active) {
    background-color: var(--fontColorLight);
    color: var(--white);
}


/* #endregion */


/*#region Forms */

.formWrapper {
    text-align: center;
}

.formWrapper form {
    margin: 25px auto;
    display: block;
    text-align: left;
    padding: 15px;
    background-color: var(--white);
    border-radius: 5px;
    font-size: 1.3em;
}

.formWrapper .productForm {
    width: 85%;
}

.formWrapper .productForm .imageContainer {
    max-height: 350px;
    overflow: auto;
    border: 1px solid var(--darkgrey);
    margin-bottom: 25px;
    padding: 5px;
}

.productForm .imageContainer input[type=checkbox] {
    margin-bottom: 15px;
}

.productForm .imageContainer img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.formWrapper .loginForm {
    width: 85%;
}

.imageGallery .imageContainer {
    position: relative;
}

form.moreProducts {
    display: none;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 1.3em;
    width: 95%;
}


/* Generic Form Stuff */

form h1 {
    text-align: center;
}

/* general input styling */
form input[type=text],
form input[type=number],
form input[type=file],
form input[type=submit],
form input[type=email],
form input[type=password],
form input[type=search],
form input[type=date],
form select,
form textarea {
    width: 100%;
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 25px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0px;
    background-color: var(--background);
    font-family: inherit;
    outline: none;
}

/* highlight active input field */
form input[type=text]:focus,
form input[type=number]:focus,
form input[type=file]:focus,
form input[type=email]:focus,
form input[type=password]:focus,
form input[type=search]:focus,
form input[type=date]:focus form select:focus,
form textarea:focus {
    border: 2px solid var(--darkgrey);
    background-color: var(--highlightColor);
}

.input .currency {
    position: absolute;
    top: 40%;
    right: 15px;
}

form input:hover,
form select:hover,
form textarea:hover {
    background-color: var(--highlightColor);
}

/* make sure inputs and labels are algned under eachother */
form input,
form label,
form textarea,
form select {
    display: block;
    font-size: .8em;
}

/* disablke hotizontal rezizing of the textarea */
form textarea {
    resize: vertical;
    min-height: 150px;
}

/* #region submit button */
form input[type=submit] {
    color: var(--highlightColor);
    background-color: var(--orange);
    border-radius: 5px;
    border: none;
    margin-top: 35px;
    cursor: pointer;
}

form input[type=submit]:hover {
    background-color: var(--fontColor);
    transition: .1s;
}

/* #endregion */

/* remove arrows from number input */

.formWrapper input::-webkit-outer-spin-button,
.formWrapper input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.formWrapper form input[type=number] {
    -moz-appearance: textfield;
}

/* #region checkboxes */
/* custom checkboxes to make sure checkboxes don't look to different when using another browser */
form input[type=checkbox] {
    display: inline;
    float: right;
}

.customCheckbox {
    display: block;
    float: right;
    width: 10px;
    height: 10px;
    border: 2px solid var(--fontColorLight);
    margin-top: 8px;
    position: relative;
    cursor: pointer;
}

.customCheckbox:hover {
    background-color: var(--fontColorLight);
    border: 2px solid var(--darkgrey);
    transition: .1s ease-in-out;
}

.customCheckbox input[type=checkbox] {
    display: none;
}

.customCheckbox div {
    display: none;
}

.customCheckbox img {
    position: absolute;
    width: 130% !important;
    top: -4px;
    left: 0px;
}

.customCheckbox input[type=checkbox]:checked+div {
    display: block;
    width: 10px;
    height: 10px;
    z-index: 1;
    background-color: var(--highlightColor);
}

/* #endregion */

form label {
    font-weight: bold;
}

.required::after {
    content: " *";
    color: var(--orange);
}

.optional::after {
    content: " (optional)";
    font-size: .7em;
    color: var(--fontColorLight);
}


/* Search Bar */

.searchForm {
    width: 85%;
    overflow: hidden;
    position: relative;
    height: 25px;
}

.searchForm input[type=search] {
    position: absolute;
    left: 5px;
    bottom: 5px;
    display: block;
    height: 45px;
    border-radius: 5px 0px 0px 5px;
    margin: 0;
    max-width: 97%;
}

.searchForm button {
    position: absolute;
    border: none;
    right: 5px;
    bottom: 5px;
    width: 60px;
    height: 45px;
    border-radius: 0px 5px 5px 0px;
    margin: 0px 0px 0px 3px;
    background-color: var(--orange);
    cursor: pointer;
    transition: .2s;
}

.searchForm button:hover {
    background-color: var(--fontColor);
}

.searchForm button img {
    height: 30px;
}

.emptySearch {
    background-color: var(--darkgrey);
    color: var(--highlightColor);
    padding: 15px 5px;
    margin: 5px;
    margin-bottom: 15px;
    display: block;
    border-radius: 5px;
    max-width: 100%;
    font-size: 1.2em;
}

/* #endregion */


/* #region product listing */

.productBoxWrapper {
    display: grid;
    margin: 0 auto;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: "search""sidebar""content""pager""loadMore";
}

.productBoxWrapper .sideBar {
    grid-area: sidebar;
    margin: 0;
}

.productBoxWrapper .productContent {
    grid-area: content;
}

.productBoxWrapper .search {
    grid-area: search;
}

.productBoxWrapper .pagesList {
    grid-area: pager;
}

.productBoxWrapper .moreProducts {
    grid-area: loadMore;
}


/* #endregion */


/* #region filter form */
/* hide filter by default on mobile devices */
.filterForm {
    display: none !important;
    border-radius: 0px 0px 5px 5px !important;
}

.filterForm select {
    cursor: pointer;
}

.filterForm fieldset {
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.filterToggle {
    display: none;
    cursor: pointer;
}

/* show filter after clicking the label on mobile devices */
.filterToggle:checked+.filterForm {
    display: block !important;
    width: 85%;
    margin-top: 0px;
    transition: 0.2s;
}

.filterToggleLabel {
    display: block;
    text-align: left;
    margin: 25px auto;
    margin-bottom: 0px;
    width: 85% !important;
    padding: 15px;
    background-color: var(--white);
    border-radius: 5px 5px 0px 0px;
    position: relative;
    font-size: 1.3em;
    cursor: pointer;
}

.filterForm .desktopTitle {
    display: none;
}

.filterToggleLabel .dropIcon {
    float: right;
}

.filterForm input[type=submit] {
    margin-top: 0;
}

.filterForm input[type=select] {
    margin-bottom: 0;
}


/* #endregion */


/* #region error highlights */

.errorHighlight {
    border: 3px solid #db0000 !important;
    color: #db0000 !important;
    background-color: #ff8b8b5b !important;
}

.errorHighlight:hover {
    background-color: #fddedefd;
}

.errorHighlight:focus {
    background-color: #fddedeab !important;
    border: 3px solid #740000 !important;
}

.input {
    position: relative;
    display: inline-block;
    width: 100%;
}

.input .errorInfo {
    position: absolute;
    min-width: 100%;
    background-color: #db0000e8;
    color: var(--white);
    text-align: center;
    border-radius: 5px;
    padding: 8px 8px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -100%);
    transition: visibility 0.2s, opacity 0.1s linear;
}

.input .errorInfo::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #db0000e8 transparent transparent transparent;
}

.errorHighlight:hover+.errorInfo {
    visibility: visible;
    opacity: 1;
}


/* #endregion */


/* #region dialog boxes */

.messageToggle {
    display: none !important;
}

.messageToggle:checked+.message {
    display: none;
}

.message {
    width: 95%;
    max-width: 1000px;
    position: relative;
    padding: 1px 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin: 10px auto;
    text-align: left;
    font-size: 1em;
}

.message p {
    text-align: left;
    margin-left: 10px;
    margin-right: 20px;
}

.messageClose {
    position: absolute;
    display: block;
    height: 3px;
    width: 3px;
    top: 10px;
    right: 20px;
    color: var(--white);
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.2s;
}

.errorMessage {
    background-color: #f4433649;
    border-left: 5px solid #e40000;
    color: #520000;
}

.warningMessage {
    background-color: #f9fd2155;
    border-left: 5px solid var(--orange);
    color: #522c00;
}

.successMessage {
    background-color: #5ff87978;
    border-left: 5px solid #00c70a;
    color: #175200;
}

.errorMessage .messageClose:hover {
    color: #e40000;
}

.successMessage .messageClose:hover {
    color: #00c70a;
}

.messageClose {
    color: var(--black);
}

.warningMessage .messageClose:hover {
    color: var(--orange);
}


/* #endregion */


/* #region image gallery */

.productViewWrapper,
.imageGallery,
.productInformation {
    width: 95%;
    margin: 0 auto;
}

.productViewWrapper {
    background-color: var(--white);
    border-radius: 5px;
}

.productViewWrapper h1 {
    padding-top: 5px;
    text-align: center;
}

.imageGallery {
    display: block;
    box-sizing: border-box;
}

.imageGallery form {
    text-align: right;
}

.description {
    text-align: justify;
}

.gallerySlide img {
    width: 100%;
    border-bottom: 5px solid var(--orange);
}

.imageGallery.isHidden.gallerySlide img {
    border-bottom: 5px solid var(--darkgrey);
}


/* to show only one image, if javascript is disabled */

.imageContainer>.gallerySlide:not(:first-Child) {
    display: none;
}

.galleryThumbnail img {
    cursor: pointer;
    width: 100%;
}

.galleryThumbnail img:hover {
    opacity: .4;
}

.row {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.galleryThumbnail {
    display: flex;
    width: 16.66%;
}


/* #endregion */


/* #region iconButtons */

.iconButton {
    background-color: var(--orange);
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.iconButton:hover {
    background-color: var(--fontColorLight);
    transition: .2s;
}

.iconButton:active {
    background-color: var(--darkgrey);
}

.iconButton img {
    position: absolute;
    max-height: 100%;
    max-width: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cartButton {
    position: relative;
}


/* short "animation" to show that the button has been pressed successfully */

.cartButton:active span {
    opacity: 1;
    transition: opacity .02s ease-in;
}

.cartButton span {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 1;
    opacity: 0;
    background-color: var(--orange);
    transition: opacity 2s ease-out;
}

.cartButton span img {
    filter: brightness(0) invert(1);
    opacity: 1;
    visibility: visible;
    z-index: 2;
    position: absolute;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
}

.editButton {
    background-color: var(--orange);
    border: none;
    height: 100%;
    width: 100%;
    padding: 5px;
    transition: .1s ease-in-out;
    outline: none;
    cursor: pointer;
}

.badge {
    position: absolute;
    width: 60px;
    height: 60px;
    right: -15px;
    bottom: -15px;
    overflow: hidden;
    border-radius: 50%;
    z-index: 1;
}

.badge.edit {
    right: 60px;
}

.badge.edit a {
    display: block;
}

.hiddenIcon {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: var(--fontColorLight);
}

.hiddenIcon img {
    position: absolute;
    max-height: 100%;
    max-width: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
}


/* #endregion */


/* #region error page */

.errorPage {
    text-align: center;
    margin: 20px auto;
    width: 95%;
    border-radius: 10px;
    font-size: 1.3em;
}

.errorPage img {
    width: 60%;
    max-width: 400px;
}


/* #endregion */


/* #region vendors listing*/

.vendorToggle {
    display: none;
}

.vendorContainer {
    display: none;
}

.vendorsWrapper {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.vendorsWrapper p:not(.productCard p) {
    padding: 0;
    padding: 5px;
    margin: 0;
    width: 95%;
}

.vendorsWrapper label {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-color: var(--white);
    padding: 10px 0px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    margin-top: 10px;
}

.vendorToggle:checked+.vendorContainer {
    display: block;
    width: 100%;
    background-color: var(--white);
    text-align: center;
    border-radius: 0px 0px 5px 5px;
}

.vendorContainer .customSubmit {
    width: 90%;
    color: var(--white);
    background-color: var(--orange);
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    padding: 10px 0px;
    cursor: pointer;
    font-size: 1.3em;
    transition: .2s ease-in-out;
}

.vendorContainer .customSubmit:hover {
    background-color: var(--fontColor);
}

.vendorsWrapper .products {
    margin-top: 0px;
}


/* #endregion */


/*#region ShoppingCart*/

.shoppingCart {
    width: 95%;
    margin: 15px auto !important;
    background: var(--white);
    border-radius: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "heading""content""total""notFound"
}

.shoppingCart button {
    color: var(--white);
    background-color: var(--orange);
    width: 100%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 15px;
    font-size: 1em;
}

.shoppingCart button:hover {
    background-color: var(--fontColor);
}

.shoppingCart .emptySearch {
    grid-area: notFound;
}

.shoppingCart h1 {
    grid-area: heading;
    text-align: center;
}

.cartListing {
    width: 100%;
    grid-area: content;
    margin: 0 auto;
    height: 100%;
}

.cartListing .cartEntry {
    background-color: var(--width);
    border-radius: 5px;
    margin: 10px 0;
}

.tableCell .productPreview {
    display: block;
    border-bottom: solid 5px var(--orange);
    margin: 5px auto;
    max-width: 10px;
}

.cartTotal {
    grid-area: total;
    width: 95%;
    margin: 0 auto;
    padding: 5px;
    background-color: var(--highlightColor);
    border-radius: 5px 5px 0px 0px;
}

.shoppingCart .imageWrapper {
    margin-top: 15px;
}

.cartTotal .table {
    display: table;
    width: 100%;
}

.cartTotal .table .row {
    width: 100%;
    display: table-row;
}

.cartTotal form {
    margin: 0;
}

.cartTotal input[type=submit] {
    margin-top: 5px;
}

.cartTotal .cell {
    display: table-cell;
    width: 50%;
}

.cartTotal .cell.left {
    text-align: left;
}

.cartTotal .cell.right {
    text-align: right;
}


/* #endregion */


/* #region pseudoTable */

.table .tableRow:nth-child(even):not(.head) {
    background-color: #b9b9b9;
}

.table .tableRow:nth-child(odd):not(.head) {
    background-color: #dadada;
}

.table .tableRow.head {
    display: none;
}

.table {
    display: block;
    margin: 5px 0;
}

.table .tableRow {
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

.table label {
    margin-top: 8px;
    margin-bottom: 5px;
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
}

.table .tableCell {
    display: block;
    text-align: left;
    width: 90%;
    margin: 0 auto;
}

.table .tableRow.bottom {
    font-weight: bold;
    color: var(--white);
    background-color: var(--darkgrey) !important;
}

.table.userManagement .customCheckbox {
    display: block;
    margin: auto auto;
    float: none;
    text-align: center;
}


/* #endregion */


/*#region collapsible */

.collapsible p {
    margin-bottom: 100px;
    height: 120%;
}

.collapsibleContainer {
    position: relative;
    transition: max-height .2s ease-out;
    padding-bottom: 30px;
    overflow: hidden;
}

.collapsibleFadeout {
    display: none;
    position: absolute;
    bottom: 0px;
    text-align: center;
    margin: 0;
    padding: 30px 0;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent, var(--white));
}

.collapsibleFadeout label {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    background-color: var(--fontColorLight);
    border-radius: 50%;
    transition: .2s ease-in-out;
    transition: all .5s;
}

.collapsibleFadeout label:hover {
    background-color: var(--darkgrey);
}

.collapsibleFadeout label img {
    display: block;
    width: 40px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.collapsibleToggle {
    display: none;
}


/*#endregion */

.orderConfirmationForm .customerData {
    text-align: left;
}


/* #region imprint */

.imprint {
    background-color: var(--white);
    max-width: 80%;
    margin: 20px auto;
    padding: 15px 50px;
}

.imprint .gridWrapper {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    margin: 0 auto;
}

.imprint .gridItem {
    text-align: left;
    padding: 15px;
}

.imprint .gridItem p {
    text-align: left;
}

.imprint .gridItem h2 {
    text-align: left;
}

.imprint p {
    text-align: justify;
}

.imprint .centered {
    display: block;
    margin: 0 auto;
    max-width: 250px;
}

.imprint .centered p {
    text-align: left;
}


/* #endregion */

/* used to hide content that should be only visible, if javascript is enabled */
.jsRelevant {
    display: none;
}